## Ukraine Russia War Twitter Sentiment Analysis using Python

In [57]:
import pandas as pd

dataset = pd.read_csv("./filename.csv")
dataset.head(5)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1630366235354451969,1630152070530576385,2023-02-28 00:36:15 UTC,2023-02-28,00:36:15,0,1493761817406894086,tomasliptai,Tomas Liptai,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'nazijaeger__', 'name': 'nazi...",NaN,NaN,NaN,NaN
1,1630366226424778753,1630366226424778753,2023-02-28 00:36:13 UTC,2023-02-28,00:36:13,0,1526694166662721536,paperfloure,Smell the roses,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1630366225930027011,1630366225930027011,2023-02-28 00:36:13 UTC,2023-02-28,00:36:13,0,1053018392939167746,katetbar1,@etak,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1630366223056662530,1630351686974992385,2023-02-28 00:36:12 UTC,2023-02-28,00:36:12,0,602371247,jlhrdhmom,JLHrdh,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'MainelifeR', 'name': 'Mainel...",NaN,NaN,NaN,NaN
4,1630366221483884545,1629903982255644672,2023-02-28 00:36:12 UTC,2023-02-28,00:36:12,0,1053594763214184448,phemikali,rolarkcybersecurity,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Pottingpinks', 'name': 'GRS'...",NaN,NaN,NaN,NaN

In [58]:
dataset.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,1.001400e+04,1.001400e+04,10014.0,1.001400e+04,10014.000000,10014.000000,10014.000000,10014.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.630348e+18,1.629356e+18,0.0,8.634429e+17,0.405432,0.499201,2.399041,0.108548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.007272e+13,1.450302e+16,0.0,6.762363e+17,2.764969,7.684152,30.217589,0.311087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.630331e+18,9.012334e+17,0.0,5.852300e+04,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.630339e+18,1.630187e+18,0.0,1.463392e+09,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.630347e+18,1.630306e+18,0.0,1.146196e+18,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.630356e+18,1.630342e+18,0.0,1.498023e+18,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.630366e+18,1.630366e+18,0.0,1.630339e+18,225.000000,579.000000,1524.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
dataset.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [60]:
dataset = dataset[['username', 'tweet', 'language']]

In [61]:
dataset

,username,tweet,language
0,tomasliptai,@nazijaeger__ @derwener @Anonymous9775 Russia ...,en
1,paperfloure,The Russia HAARP which could destroy USA in on...,en
2,katetbar1,Putin gives Steven Seagal Russia&amp;#8217;s O...,en
3,jlhrdhmom,@MainelifeR @BaddCompani Itâ€™s ALWAYS PROJECTIO...,en
4,phemikali,@Pottingpinks @mfa_russia @mod_russia @mil_his...,en
...,...,...,...
10009,ahk14061,@wallacemick Its not Ukraine which investere w...,en
10010,marxistswon,@tom_username_ There were very dark rumors tha...,en
10011,johngerver21,@elonmusk If Russia lose the Rothschild are co...,en
10012,late49er,@RonFilipkowski Look forward to Russia liberat...,en
10013,dillengody,@Lyla_lilas I read it yes. It is heartbreaking...,en

In [62]:
dataset.isnull().sum()

username    0
tweet       0
language    0
dtype: int64

In [63]:
dataset.shape

(10014, 3)

In [64]:
dataset['language'].value_counts()

language
en     8858
pt      440
it      194
qme     105
und      60
in       47
ru       44
ja       42
es       36
ca       20
qht      20
th       19
fr       18
de       14
ko        9
vi        8
nl        8
ro        7
fi        7
ar        6
zxx       6
uk        6
cs        6
zh        5
pl        5
qam       4
tl        4
da        3
eu        2
no        2
hi        2
tr        2
hu        1
cy        1
lv        1
el        1
bn        1
Name: count, dtype: int64

In [72]:
import nltk
from nltk.corpus import stopwords
import re
import string
nltk.download('stopwords')
stemmer = nltk.SnowballStemmer("english")
stopword=set(stopwords.words('english'))


def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text

<>:12: SyntaxWarning: invalid escape sequence '\['
<>:13: SyntaxWarning: invalid escape sequence '\S'
<>:17: SyntaxWarning: invalid escape sequence '\w'
<>:12: SyntaxWarning: invalid escape sequence '\['
<>:13: SyntaxWarning: invalid escape sequence '\S'
<>:17: SyntaxWarning: invalid escape sequence '\w'
/var/folders/h1/x8cfj9p51559f3t05mnh0kh40000gn/T/ipykernel_95885/1216118702.py:12: SyntaxWarning: invalid escape sequence '\['
  text = re.sub('\[.*?\]', '', text)
/var/folders/h1/x8cfj9p51559f3t05mnh0kh40000gn/T/ipykernel_95885/1216118702.py:13: SyntaxWarning: invalid escape sequence '\S'
  text = re.sub('https?://\S+|www\.\S+', '', text)
/var/folders/h1/x8cfj9p51559f3t05mnh0kh40000gn/T/ipykernel_95885/1216118702.py:17: SyntaxWarning: invalid escape sequence '\w'
  text = re.sub('\w*\d\w*', '', text)
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kmyeaserarafat/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [73]:
dataset['username'] = dataset['username'].apply(clean)
dataset['tweet'] = dataset['tweet'].apply(clean)
dataset['language'] = dataset['language'].apply(clean)

In [74]:
dataset.head(10)

          username                                              tweet language
0      tomasliptai      nazijaeg derwen  russia place satan rule well       en
1       paperflour  russia haarp could destroy usa one fell swoop ...       en
2                        putin give steven seagal  order friendship         en
3        jlhrdhmom          mainelif baddcompani alway project russia       en
4        phemikali  pottingpink mfarussia modrussia milhistrf muze...       en
5                    genflynn know governor would investig fbi rig...       en
6                   riyadhðŸ‡¸ðŸ‡¦  im  yarmuk  malaz exit   al mughriza...       ca
7                   kathykrobot ronfilipkowski hmm zelenski coward...       en
8                    sentdefend russia took bakhmut fortifi ever s...       en
9  sororinimicorum  sudan eritrea host russian militari base russi...       en

In [75]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 5))
plt.bar(dataset['tweet'],  color='skyblue')
plt.title("Top 10 Word Frequencies")
plt.xlabel("Words")
plt.ylabel("Frequency")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

TypeError: bar() missing 1 required positional argument: 'height'